<%= form_for(@provider) do |f| %>

    <div class="control-group<%= @provider.errors[:nombre].any? ? " error": "" %>">

<%= f.label :nombre, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :nombre, :class => 'text_field' %>

<span class="help-inline">
      <%= @provider.errors[:nombre].any? ? @provider.errors[:nombre].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>
     
<%#Campo Telefono/%>
<div class="control-group<%= @provider.errors[:telefono].any? ? " error" : "" %>">
   <%= f.label :telefono, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :telefono, :class => 'text_field' %>
     <span class="help-inline">
      <%= @provider.errors[:telefono].any? ? @provider.errors[:telefono].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

 <%#Campo Email/%>

 <div class="control-group<%= @provider.errors[:email].any? ? " error" : "" %>">
   <%= f.label :email, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :email, :class => 'text_field' %>
     <span class="help-inline">
    <%= @provider.errors[:email].any? ? @provider.errors[:email].to_s[/\w([^"]*)/] : "" %></span>
   </div> 
 </div>

<%#Campo Direccion/%>

<div class="control-group<%= @provider.errors[:direccion].any? ? " error" : "" %>">
   <%= f.label :direccion, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :direccion, :class => 'text_field' %>
     <span class="help-inline">
     <%= @provider.errors[:direccion].any? ? @provider.errors[:direccion].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

<%#Campo Direccion/%>

<div class="control-group<%= @provider.errors[:tipo_libro].any? ? " error" : "" %>">
   <%= f.label :tipo_libro, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :tipo_libro, :class => 'text_field' %>
     <span class="help-inline">
     <%= @provider.errors[:tipo_libro].any? ? @provider.errors[:tipo_libro].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

<div class="actions">
    <%= f.submit :Crear %>
  </div>
<% end %>

