<CENTER><h1>Listado de provedores</h1></CENTER>

<CENTER><table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Direccion</th>
      <th>Tipolibro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.nombre %></td>
        <td><%= provider.telefono %></td>
        <td><%= provider.email %></td>
        <td><%= provider.direccion %></td>
        <td><%= provider.tipoLibro %></td>
        <td><%= link_to 'Ver', provider %></td>
        <td><%= link_to 'Editar', edit_provider_path(provider) %></td>
        <td><%= link_to 'Eliminar', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></CENTER>

<br>

<CENTER><%= link_to 'Nuevo Proveedor', new_provider_path %></CENTER>
