<%= form_for @book, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group <%= @book.errors[:isbn].any? ? " error" : "" %>">
    <%= f.label :isbn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :isbn, :placeholder=>"isbn de libro" %>
      <span class="help-inline">
      <%= @book.errors[:isbn].any? ? @book.errors[:isbn].to_s[/\w([^"]*)/] : "" %></span>
    </div>
  </div>
  <div class="control-group <%= @book.errors[:titulo].any? ? " error" : "" %>">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titulo, :placeholder=>"Titulo de libro" %>
      <span class="help-inline">
      <%= @book.errors[:titulo].any? ? @book.errors[:titulo].to_s[/\w([^"]*)/] : "" %></span>
    </div>
  </div>
  <div class="control-group <%= @book.errors[:autor].any? ? " error" : "" %>">
    <%= f.label :autor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :autor, :placeholder=>"Autor de libro" %>
       <span class="help-inline">
      <%= @book.errors[:autor].any? ? @book.errors[:autor].to_s[/\w([^"]*)/] : "" %></span>
    </div>
  </div>
  <div class="control-group <%= @book.errors[:editorial].any? ? " error" : "" %>">
    <%= f.label :editorial, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :editorial, :placeholder =>"Editorial de libro"%>
       <span class="help-inline">
      <%= @book.errors[:editorial].any? ? @book.errors[:editorial].to_s[/\w([^"]*)/] : "" %></span>
    </div>
  </div>
  <div class="control-group <%= @book.errors[:precio].any? ? " error" : "" %>">
    <%= f.label :precio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :precio, :placeholder => "Precio de libro"%>
      <span class="help-inline">
      <%= @book.errors[:precio].any? ? @book.errors[:precio].to_s[/\w([^"]*)/] : "" %></span>
    </div>
  </div>
  <div class="control-group <%= @book.errors[:existencias].any? ? " error" : "" %>">
    <%= f.label :existencias, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :existencias, :placeholder=> "existencias de libro" %>
      <span class="help-inline">
      <%= @book.errors[:existencias].any? ? @book.errors[:existencias].to_s[/\w([^"]*)/] : "" %></span>
    </div>
  </div>

  <div class="form-actions">
     <button name="guardarLibro" id="guardarLibro" type="button" class="btn btn-primary">Registrar Libro</button>
    <%= link_to t('.Cancelar', :default => t("helpers.links.Cancelar")),
                books_path, :class => 'btn' %>
  </div>
<% end %>