<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @sale.client_id %>
</p>

<p>
  <strong>Fechaventa:</strong>
  <%= @sale.fechaVenta %>
</p>

<%= link_to 'Editar', edit_sale_path(@sale) %> |
<%= link_to 'Regresar', sales_path %>
