<!DOCTYPE html>
<html>
<head>
  <title>LibreriaVirtualRoka</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<nav>
<center><b><%= link_to 'EMPLEADOS', employees_path %></b>
<b><%= link_to 'LIBROS', books_path %></b>
<b><%= link_to 'CLIENTES', clients_path %></b>
<b><%= link_to 'PEDIDOS', orders_path %></b>
<b><%= link_to 'DETALLES DE PEDIDOS', detail_orders_path %></b>
<b><%= link_to 'PROMOCIONES', promotions_path %></b>
<b><%= link_to 'PROVEEDORES', providers_path %></b>
<b><%= link_to 'DETALLES DE VENTA', sale_details_path %></b>
<b><%= link_to 'VENTA', sales_path %></b></center>
</header>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

<div class="container">
            <ul id="nav">
                <p class="navbar-text pull-right">
                  <% if user_signed_in? %>
                    Logged in as <strong><%= current_user.email %></strong>.
                    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                  <% else %>
                    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                  <% end %>

</body>
</html>
